<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title></title>
</head>
<body><br><br>
	<div class="container">
	<div class="row">
	<div class="col-md-6" align="middle">
		<img class="img-fluid"  src="assets/image/download.jpg"><br><br>
	</div>
	</div>
	<div class="col-md-6">
		<p>Hon. Tajudeen Ajide, current chairman of Surulere Local Government, is a fine mix of two subjects: football and politics. Born to a grassroots politician father, Ajide showed strong leadership quality on the streets of Surulere, where he was born and bred. Ajide’s transition to politics has not in any way diminished his first love. “Surulere LG has a bolstering club, Sportcity FC, and we have won all the trophies in the grassroots soccer in the state. We hope to take it to the next level by moving into the nooks and crannies of the local government to fish out up and coming footballers and expose to national and international recognition. We have put in place tested ex-internationals in Taju Disu and Ganiyu Ajide, who would do the job for us.”.</p><br><br>

		<form>
		Lodge a complaint Here...<br><textarea rows="4" cols="70" name="comment" class="form-control" form="usrform">Enter text here....</textarea><br><br>
		<input type="Submit"><br><br>
		</form>
		<div class="alert">
		<span class="closebtn" 
		onclick="this.parentElement.style.display='none';">&times;</span>
		<strong>You</strong> will be informed when this message has been delivered to the LGA Chairman!.
	</div>
	</div>
	</div>

</body>
</html>